<div class="container-fluid mt-4">
  <!-- Header -->
  <header class="bg-primary text-white py-3 mb-4">
    <div class="container">
      <h1 class="mb-0 text-white">Person Management</h1>
    </div>
  </header>

  <div class="row">
    <!-- Person List (1/3 width) -->
    <div class="col-md-4">
      <person-list (personSelected)="onPersonSelected($event)"
      (showCreatePerson)="showCreatePerson()"
      [selectedPerson]="selectedPerson"></person-list>
    </div>
    <!-- Editor/Creator (2/3 width) -->
    <div class="col-md-8">
      <router-outlet></router-outlet>
      <!--<div *ngIf="selectedPerson">
        <person-editor [person]="selectedPerson" 
        (savePerson)="onSavePerson($event)" 
        (closeEditorEvent)="closeEditor()"></person-editor>
      </div>
      <div *ngIf="showCreatePersonComponent">
        <create-person (addPerson)="onAddPerson($event)" 
        (closeCreatePersonEvent)="closeCreatePerson()"></create-person>
      </div> -->
    </div>
  </div>
</div>