<div>
    <h2>People</h2>
    <button (click)="createPerson()" class="btn btn-primary mt-3">Create New Person</button>
    <ul class="list-group mt-3">
      <li *ngFor="let person of people$ | async" (click)="selectPerson(person)" 
      class="list-group-item list-group-item-action"
      [class.active]="person === selectedPerson">
        <strong>{{ person.firstName }} {{ person.lastName }}</strong><br>
        Email: {{ person.email }}<br>
        Department: {{ person.department }}
      </li>
    </ul>
  </div>