<div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <button (click)="createPerson()" class="btn btn-primary">Create New Person</button>
    <input type="text" class="form-control w-50" placeholder="Search..." [(ngModel)]="searchTerm" (input)="filterPeople()">
  </div>
  <ul class="list-group mt-3" role="listbox" aria-label="Person List">
    <li *ngFor="let person of filteredPeople$ | async" 
        class="list-group-item list-group-item-action"
        [class.active]="person === selectedPerson"
        role="option"
        tabindex="0"
        (click)="selectPerson(person)"
        (keydown)="onKeydown($event, person)">
      <a [routerLink]="['/edit-person', person.id]" class="text-reset text-decoration-none">
        <strong>{{ person.firstName }} {{ person.lastName }}</strong><br>
        Email: {{ person.email }}<br>
        Department: {{ person.department }}
      </a>
    </li>
  </ul>
</div>